body {
  background-color:lightcoral;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  text-align: center;
}

.titleClass {
  text-align: center;
  font-size: 40px;
}

#texto-tarefa {
  display: inline-block;
  margin-left: 300px;
}

#criar-tarefa {
  display: inline-block;
}

.selected {
  background-color: gray;
}

.completed {
  text-decoration: line-through solid black;
}

.divListClass {
  margin: 15px;
  border: 1px solid black;
}
